body {
    font-family: 'Inter';
    background-color: #FFF0CE;
    margin:0;
}

.main-header {
    display:flex;
    align-items: center;
    width:100%;
    height:150px;
    background-color: #0174BE;
    position:sticky;
    top:0px;
}

nav {
    width:100%;
}

.main-nav {
    display:grid;
    align-items: center;
    grid-template-columns:max-content auto;
    padding-left:60px;
    padding-right:60px;
}

.logo {
    display:inline;
}

.nav-links {
    display:flex;
    align-items: center;
    padding-left:120px;
    padding-right:60px;
}

.nav-links > ul, .food-nav > ul {
    display:flex;
    width:100%;
    justify-content:space-between;
    align-items:center;
    padding:0;
    margin:0;

    list-style-type:none;
    text-decoration:none;
}

li {
    display:inline;
    font-size:40px;
}

.selected {
    color:white;
}

.food-nav {
    display:flex;
    align-items:center;
    justify-content:stretch;
    height:120px;
    background-color: #FFC436;
}

.food-menu {
    width:100%;
    padding-left:32px;
    padding-right:32px;
}

.food-menu > ul{
    display:grid;
    align-items:center;
    width:100%;
    grid-template-columns:1fr 1fr 1fr 1fr;
    gap:30px;
    padding:0;
    text-align:center;
    font-weight:bold;
}

.hotdog-menu {
    display:flex;
    flex-wrap:wrap;
    gap:40px;
    border:1px solid black; /* Delete later */
    margin-left:auto;
    margin-right:auto;
    margin-top:70px;
    justify-content: center;
}

.hotdog-menu-item {
    width:472px;
    height:297px;
    border-radius:15px;
    background-color: #0174BE;
}

.main-content-wrapper {
    display:grid;
    width:100%;
    grid-template-columns: 212px auto 212px;
}

.menu-wrapper {
    display:flex;
    justify-content: center;
    grid-column:2/3;
}

.hotdog-menu-item > img {
    width:100%;
    height:227px;
    object-fit: cover;
    margin:0;
    padding:0;
    border-top-left-radius: 15px;
    border-top-right-radius: 15px;
}

.menu-caption > h3 {
    width:100%;
    margin:0;
    font-size:25px;
    font-weight:bold;
    color:white;
    text-align:center;
}

.menu-caption {
    width:100%;
    height:70px;
    margin:0;
    display:flex;
    align-items:center;
    justify-content: center;
}