body {
    font-family: 'Inter';
    background-color: #FFF0CE;
    margin:0;
}

.main-header {
    display:flex;
    align-items: center;
    width:100%;
    height:150px;
    background-color: #0174BE;
    position:sticky;
    top:0px;
}

nav {
    width:100%;
}

.main-nav {
    display:grid;
    align-items: center;
    grid-template-columns:max-content auto;
    padding-left:60px;
    padding-right:60px;
}

.logo {
    display:inline;
}

.nav-links {
    display:flex;
    align-items: center;
    padding-left:120px;
    padding-right:60px;
}

.nav-links > ul, .food-nav > ul {
    display:flex;
    width:100%;
    justify-content:space-between;
    align-items:center;
    padding:0;
    margin:0;

    list-style-type:none;
    text-decoration:none;
}

li {
    display:inline;
    font-size:40px;
}

.selected {
    color:white;
}

.food-nav {
    display:flex;
    align-items:center;
    justify-content:stretch;
    height:120px;
    background-color: #FFC436;
}

.menu-button {
    display:none;
    font-size:30px;
    text-align:right;
}

.food-menu {
    width:100%;
    padding-left:32px;
    padding-right:32px;
}

.food-menu > ul{
    display:grid;
    align-items:center;
    width:100%;
    grid-template-columns:1fr 1fr 1fr 1fr;
    gap:30px;
    padding:0;
    text-align:center;
    font-weight:bold;
}

.hotdog-menu {
    display:flex;
    flex-wrap:wrap;
    width:auto;
    gap:40px;
    margin-left:auto;
    margin-right:auto;
    margin-top:70px;
    margin-bottom:70px;
}

.hotdog-menu-item {
    width:450px;
    height:297px;
    border-radius:15px;
    background-color: #0174BE;
}

.main-content-wrapper {
    display:grid;
    width:100%;
    grid-template-columns: 212px auto 212px;
}

.menu-wrapper {
    display:flex;
    justify-content: center;
    grid-column:2/3;
}

.hotdog-menu-item > img {
    width:100%;
    height:227px;
    object-fit: cover;
    margin:0;
    padding:0;
    border-top-left-radius: 15px;
    border-top-right-radius: 15px;
    display:block;
}

.menu-caption > h3 {
    width:100%;
    margin:0;
    font-size:25px;
    font-weight:bold;
    color:white;
    text-align:center;
}

.menu-caption {
    width:100%;
    height:70px;
    margin:0;
    display:flex;
    align-items:center;
    justify-content: center;
}

@media (max-width:1364px) {
    .hotdog-menu {
        justify-content:center;
    }
}

@media (max-width:1400px) {
    .nav-links > ul > li {
        font-size:34px;
    }

    .food-menu > ul > li {
        font-size:34px;
    }
}

@media (max-width:1200px) {
    .nav-links > ul > li {
        font-size:30px;
    }
    .food-menu > ul > li {
        font-size:25px;
    }

    .main-header {
        height:90px;
    }

    .food-nav {
        height:60px;
    }

    .logo {
        width:147px;
    }

    .main-nav {
        padding-left:30px;
        padding-right:30px;
    }

    .nav-links {
        padding-right:0;
    }

    .main-content-wrapper {
        grid-template-columns: auto auto auto;
    }
}

@media (max-width:940px) {
    .nav-links > ul > li > a {
        font-size:26px;
    }
}

@media (max-width:768px) {
    .nav-links {
        display:none;
    }
    .main-body {
        display:flex;
        width:100%;
        height:auto;
        height:100%;
    }
    .food-nav {
        height:auto;
        min-width:160px;
        max-width:160px;
        align-items:start;
    }

    .food-menu > ul {
        display:flex;
        flex-direction:column;
    }

    .food-menu {
        padding:0;
        margin-top:20px;
        gap:40px;
        height:auto;
    }

    .hotdog-menu-item {
        width:100%;
        height:auto;
        height:297px;
    }

    .menu-caption > h3 {
        font-size:18px;
    }

    .hotdog-menu-item, .hotdog-menu-item > img {
        border-radius:0;
    }

    .hotdog-menu {
        margin:0;
    }

    .main-header {
        height:80px;
    }
    .main-content-wrapper {
        width:auto;
    }

    .menu-button {
        display:block;
    }
}

/*About page*/

.about-content-wrapper{

    display: grid;
    grid-template-columns: 1.25fr 0.75fr;
    text-align: center;
    justify-content: center;

}


.aboutpicture2 {

    display: none;

}

.aboutpicture1 {

    width: 85%;
    height: 85%;
    border-radius: 3%;
    padding-top: 60px;
    grid-column-start: 1;
    grid-column-end: 2;

}

.about-caption {

    grid-column-start: 2;
    grid-column-end: 3;
    background-color: #FFC436;
    padding-top: 80px;

}

